html, body {
    height: 100vh;
}

#app {
    height: 100%;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#loading > img {
    width: 80%;
    height: auto;
    max-width: 400px;
}
