html, body {
    height: 100vh;
}

#app {
    height: 100%;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#loading > img {
    width: 80%;
    height: auto;
    max-width: 400px;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text);
    color: rgba(89,74,226,1);
    font-weight: bold;
    font-size: 60px;
}