@page "/"

<MudGrid>
    <MudItem md="6" xs=12>
        <MudText Typo="Typo.h1">
            Topics <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="() => _showAddForm = !_showAddForm" Class="mr-2"/>
        </MudText>
    </MudItem>
    <MudItem md=6 xs=12 Class="d-flex justify-end align-center">
        <Export />
        <span class="ml-2" />
        <Import OnImportSuccess="LoadDataAsync"/>
    </MudItem>
    <MudItem xs=12>
        @if(_showAddForm)
        {
            <Add OnSuccessfulSubmit=OnSuccessfulAddAsync/>
        }
    </MudItem>
    <MudItem xs="12">
        @if(_result is null)
        {
            <MudAlert Severity="Severity.Info">
                There are no topics yet - add some!
            </MudAlert>
        }
        else
        {
            <MudTable Dense=true Items=_result.Items Outlined=false Bordered=false>
                <HeaderContent>
                    <MudTh Style="width: 20%;">
                        Actions
                    </MudTh>
                    <MudTh>
                        Summary
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudIconButton Color=Color.Primary Icon=@Icons.Outlined.Edit Variant=Variant.Filled Title="Open Details" OnClick="() => context.ShowDetails = !context.ShowDetails"/>
                        <MudIconButton Color=Color.Dark Icon=@Icons.Outlined.ContentCopy Variant=Variant.Filled Title="Copy Body" OnClick="() => OnCopyClickAsync(context.Id)"/>
                        <MudIconButton Color=Color.Error Icon=@Icons.Outlined.Delete Variant=Variant.Filled OnClick="() => RemoveAsync(context.Id)" Title="Delete Topic"/>
                    </MudTd>
                    <MudTd>
                        <div>
                            @context.Summary
                        </div>
                        <div>
                            @foreach (var tag in context.Tags)
                            {
                                <MudChip Color=Color.Info Size=Size.Small>
                                    @tag
                                </MudChip>
                            }
                        </div>
                    </MudTd>
                </RowTemplate>
                <ChildRowContent>
                    @if(context.ShowDetails)
                    {
                        <tr>
                            <td colspan="2">
                                <Edit Id="@context.Id" OnSuccessfulSubmit="LoadDataAsync"/>
                            </td>
                        </tr>
                    }
                </ChildRowContent>
            </MudTable>
        }
    </MudItem>
</MudGrid>